{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "rangeStart": 0,
  "rangeEnd": 9007199254740991,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "endOfLine": "auto"
}
